body {
    background-color: teal;
    margin-left: 30px;
}


/*classes*/

.flexcontainer {
    display: flex;
    direction: row;
}

.flexFoodSection {
    display: flex;
    direction: column;
}

.flexSectionItem {
    display: flex;
    direction: row;
    justify-content: flex-start;
}

.flexFoodItem {
    display: flex;
    direction: row;
    justify-content: flex-end;
}


/*Styles for id'd elements in index.html*/

#header {
    font-family: Georgia, serif;
    color: darkred;
}

#content {}

#foodSections {}

#groceryList {}